# Database
DATABASE_URL="postgresql://neondb_owner:npg_e5I3ByjxDiSq@ep-proud-field-amm61mf4-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Cloudinary
CLOUDINARY_CLOUD_NAME="dnjzx8ucq"
CLOUDINARY_API_KEY="979687254163679"
CLOUDINARY_API_SECRET="**********"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dnjzx8ucq"

# Security
ADMIN_PIN="0000"
OWNER_PIN="1234"
JWT_SECRET="genera_un_secreto_seguro_con_openssl_rand_base64_32"